body{
  width: 750px;
  font-family: Arial, Verdana, sans-serif;
  color: #665544;
}

p{
  margin: 10px;
  float:left;
  width: 230px;
  background-color: #efefef;
}


#f{

}

#sc{

}


#th{

}

#fr{
clear: left;
}

#ff{

}
