body{
  background-color: #FAFAFB;
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
}

.main{
  color: #264158;
  font-family: Arial;
  width: 75%;
  background-color: #9C9FA4;
}

h1{
  text-align: center;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 50px;
}

p{
    text-align: center;
}

h2{
  text-align: center;
}

fieldset {
    border: 0;
}

#title{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.container{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 10px;
  text-align: left;
}

.container_2{
  display: flex;
  flex-direction: column;
}

.words{
  justify-content: center;
  align-self: center;
}

.input{
  align-self: center;
}


.left{
  background-color: #FAFAFB;
  display: block;
  width: 50%;
  margin-right: 5px;
  border-radius: 4px;
}

.right{
  background-color: #FAFAFB;
  display: block;
  width: 50%;
  margin-left: 5px;
  border-radius: 4px;
}

footer{
  text-align: center;
  padding: 5px;
}

#checkboxes ul {
  margin: 0;
  list-style: none;
  float: left;
}