body{
  background-color: #E2E2B6;
  height: auto;
  width: auto;
}

.main{
  color: white;
  font-family: Arial;
  width: 75%;
  height: 75vh;
  background-color: #322F2E;
}
/*#322F2E
#854243
#686458
#C1BEB9*/
